<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>TDLTE数据管理系统</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/jquery/2.0.0/jquery.min.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">TDLTE数据管理系统</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="/">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">管理数据</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/importdata">导入数据</a></dd>
                        <dd><a href="/exportdata">导出数据</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">计算数据</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/computedata">计算干扰计算三元组</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="/query">查询数据</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">

            <!-- Cell -->
            <form class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">请选择表</label>
                    <div class="layui-input-block">
                        <select id="tables" lay-filter="choice" lay-verify="required" name="whichtable">
                            <option value=""></option>
                            <option value="Cell">tbCell</option>
                            <option value="KPI">tbKPI</option>
                            <option value="PRB">tbPRB</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item" id="Cell" style="display: none;">
                    <label class="layui-form-label">小区ID</label>
                    <div class="layui-input-block">
                        <input lay-verify="required" name="SECTOR_ID" class="layui-input" type="text" placeholder="请输入小区ID">
                    </div>
                    <br>

                    <label class="layui-form-label">小区姓名</label>
                    <div class="layui-input-block">
                        <input lay-verify="required" name="SECTOR_NAME" class="layui-input" type="text" placeholder="请输入小区名称">
                    </div>
                    <br>

                    <label class="layui-form-label">基站ID</label>
                    <div class="layui-input-block">
                        <input lay-verify="required" name="ENODEBID" class="layui-input" type="text" placeholder="请输入基站ID">
                    </div>
                    <br>

                    <label class="layui-form-label">基站名称</label>
                    <div class="layui-input-block">
                        <input lay-verify="required" name="ENODEB_NAME" class="layui-input" type="text" placeholder="请输入基站名称">
                    </div>
                    <br>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="cellDemo" type="button">立即提交</button>
                            <button class="layui-btn" lay-submit lay-filter="cellRefresh" type="button">刷新</button>
                        </div>
                    </div>

                    <table id="Celltable"></table>

                </div>
            </form>

            <!-- KPI -->
            <form class="layui-form">
                <div class="layui-form-item" id="KPI" style="display: none;">

                    <label class="layui-form-label">查询属性</label>
                    <div class="layui-input-block">
                        <select name="properties" lay-filter="KPIchoice" lay-verify="required">
                            <option value=""></option>
                            <option value="0">RRC连接建立完成次数 (无)</option>
                            <option value="1">RRC连接请求次数（包括重发）</option>
                            <option value="2">RRC建立成功率qf (%)</option>
                            <option value="3">E-RAB建立成功总次数 (无)</option>
                            <option value="4">E-RAB建立尝试总次数 (无)</option>
                            <option value="5">E-RAB建立成功率2 (%)</option>
                            <option value="6">eNodeB触发的E-RAB异常释放总次数 (无)</option>
                            <option value="7">小区切换出E-RAB异常释放总次数</option>
                            <option value="8">ERAB掉线率</option>
                            <option value="9">无线接通率</option>
                            <option value="10">eNodeB发起的S1 RESET导致的UE Context释放次数 (无)</option>
                            <option value="11">UE Context异常释放次数 (无)</option>
                            <option value="12">UE Context建立成功总次数 (无)</option>
                            <option value="13">无线掉线率 (%)</option>
                            <option value="14">eNodeB内异频切换出成功次数 (无)</option>
                            <option value="15">eNodeB内异频切换出尝试次数 (无)</option>
                            <option value="16">eNodeB内同频切换出成功次数 (无)</option>
                            <option value="17">eNodeB内同频切换出尝试次数 (无)</option>
                            <option value="18">eNodeB间异频切换出成功次数 (无)</option>
                            <option value="19">eNodeB间异频切换出尝试次数 (无)</option>
                            <option value="20">eNodeB间同频切换出成功次数 (无)</option>
                            <option value="21">eNodeB间同频切换出尝试次数 (无)</option>
                            <option value="22">eNB内切换成功率 (%)</option>
                            <option value="23">eNB间切换成功率 (%)</option>
                            <option value="24">同频切换成功率zsp (%)</option>
                            <option value="25">异频切换成功率zsp (%)</option>
                            <option value="26">切换成功率 (%)</option>
                            <option value="27">小区PDCP层所接收到的上行数据的总吞吐量 (比特)</option>
                            <option value="28">小区PDCP层所发送的下行数据的总吞吐量 (比特)</option>
                            <option value="29">RRC重建请求次数 (无)</option>
                            <option value="30">RRC连接重建比率 (%)</option>
                            <option value="31">通过重建回源小区的eNodeB间同频切换出执行成功次数 (无)</option>
                            <option value="32">通过重建回源小区的eNodeB间异频切换出执行成功次数 (无)</option>
                            <option value="33">通过重建回源小区的eNodeB内同频切换出执行成功次数 (无)</option>
                            <option value="34">通过重建回源小区的eNodeB内异频切换出执行成功次数 (无)</option>
                            <option value="35">eNB内切换出成功次数 (次)</option>
                            <option value="36">eNB内切换出请求次数</option>
                        </select>
                    </div>
                    <br>

                    <!--
                    <label class="layui-form-label">起始时间</label>
                    <div class="layui-input-block">
                        <input type="text" lay-verify="required" class="layui-input" name="KPIbegintime" id="KPIbegintime">
                    </div>
                    <br>

                    <label class="layui-form-label">终止时间</label>
                    <div class="layui-input-block">
                        <input type="text" lay-verify="required" class="layui-input" name="KPIendtime" id="KPIendtime">
                    </div>
                    <br>
                    -->

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="KPIDemo" type="button">立即提交</button>

                        </div>
                    </div>


                    <div id="main" style="height:400px;width: 100%;"></div>
                </div>
            </form>

            <!-- PRB -->
            <form class="layui-form">
                <div class="layui-form-item" id="PRB"  style="display: none;">
                    <label class="layui-form-label">网元名称</label>
                    <div class="layui-input-block">
                        <input name="NENAME" class="layui-input" type="text" placeholder="请输入网元名称" lay-verify="required">
                    </div>
                    <br>

                    <label class="layui-form-label">查询属性</label>
                    <div class="layui-input-block">
                        <select name="properties" lay-verify="required">
                            <option value=""></option>
                            <option value="0">P0</option>
                            <option value="1">P1</option>
                            <option value="2">P2</option>
                            <option value="3">P3</option>
                            <option value="4">P4</option>
                            <option value="5">P5</option>
                            <option value="6">P6</option>
                            <option value="7">P7</option>
                            <option value="8">P8</option>
                            <option value="9">P9</option>
                            <option value="10">P10</option>
                            <option value="11">P11</option>
                            <option value="12">P12</option>
                            <option value="13">P13</option>
                            <option value="14">P14</option>
                            <option value="15">P15</option>
                            <option value="16">P16</option>
                            <option value="17">P17</option>
                            <option value="18">P18</option>
                            <option value="19">P19</option>
                            <option value="20">P20</option>
                            <option value="21">P21</option>
                            <option value="22">P22</option>
                            <option value="23">P23</option>
                            <option value="24">P24</option>
                            <option value="25">P25</option>
                            <option value="26">P26</option>
                            <option value="27">P27</option>
                            <option value="28">P28</option>
                            <option value="29">P29</option>
                            <option value="30">P30</option>
                            <option value="31">P31</option>
                            <option value="32">P32</option>
                            <option value="33">P33</option>
                            <option value="34">P34</option>
                            <option value="35">P35</option>
                            <option value="36">P36</option>
                        </select>
                    </div>
                    <br>

                    <label class="layui-form-label">时间粒度</label>
                    <div class="layui-input-block">
                        <select name="timesize" lay-verify="required">
                            <option value=""></option>
                            <option value="1">1小时</option>
                            <option value="2">2小时</option>
                            <option value="3">3小时</option>
                            <option value="4">4小时</option>
                            <option value="5">5小时</option>
                            <option value="6">6小时</option>
                            <option value="7">7小时</option>
                            <option value="8">8小时</option>
                            <option value="9">9小时</option>
                            <option value="10">10小时</option>
                            <option value="11">11小时</option>
                            <option value="12">12小时</option>
                            <option value="13">13小时</option>
                            <option value="14">14小时</option>
                            <option value="15">15小时</option>
                            <option value="16">16小时</option>
                            <option value="17">17小时</option>
                            <option value="18">18小时</option>
                            <option value="19">19小时</option>
                            <option value="20">20小时</option>
                            <option value="21">21小时</option>
                            <option value="22">22小时</option>
                            <option value="23">23小时</option>
                            <option value="24">24小时</option>
                        </select>
                    </div>
                    <br>

                    <label class="layui-form-label">起始时间</label>
                    <div class="layui-input-block">
                        <input type="text" lay-verify="required" class="layui-input" name="PRBbegintime" id="PRBbegintime">
                    </div>
                    <br>

                    <label class="layui-form-label">终止时间</label>
                    <div class="layui-input-block">
                        <input type="text" lay-verify="required" class="layui-input" name="PRBendtime" id="PRBendtime">
                    </div>
                    <br>

                    <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="PRBDemo">立即提交</button>
                    </div>
                </div>

                    <div id="main2" style="width: 600px;height:400px;"></div>
                </div>
            </form>

        </div>
    </div>
</div>
<script src="/layui/layui.js"></script>
<!-- 监听select -->
<script>
    layui.use(['form', 'element', 'table'],function () {
        var form = layui.form, element = layui.element, table = layui.table;
        form.on('select(choice)',function (data) {
            document.getElementById("Cell").style.display = "none";
            document.getElementById("KPI").style.display = "none";
            document.getElementById("PRB").style.display = "none";
            if (data.value != "") {
                document.getElementById(data.value).style.display="";
            }
        });

        //监听cell提交
        form.on('submit(cellDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            $.ajax({
                url: "/cellnewdata",
                data: JSON.stringify(data.field),
                type: "POST",
                contentType: "application/JSON;charset-utf8",
            });
            table.render({
                elem: '#Celltable'
                ,height: 312
                ,url: '/celldata' //数据接口
                ,page: true //开启分页
                ,cols: [[ //表头
                    {field: 'CITY', title: 'ID', width:80, sort: true, fixed: 'left'}
                    ,{field: 'SECTORID', title: 'SECTORID', width:80}
                    ,{field: 'SECTORNAME', title: 'SECTORNAME', width:80, sort: true}
                    ,{field: 'ENODEBID', title: 'ENODEBID', width:80}
                    ,{field: 'ENODEBNAME', title: 'ENODEBNAME', width: 177}
                    ,{field: 'EARFCN', title: 'EARFCN', width: 80, sort: true}
                    ,{field: 'PCI', title: 'PCI', width: 80, sort: true}
                    ,{field: 'PSS', title: 'PSS', width: 80}
                    ,{field: 'SSS', title: 'SSS', width: 135, sort: true}
                    ,{field: 'TAC', title: 'TAC', width: 135, sort: true}
                    ,{field: 'VENDOR', title: 'VENDOR', width: 135, sort: true}
                    ,{field: 'LONGITUDE', title: 'LONGITUDE', width: 135, sort: true}
                    ,{field: 'LATITUDE', title: 'LATITUDE', width: 135, sort: true}
                    ,{field: 'STYLE', title: 'STYLE', width: 135, sort: true}
                    ,{field: 'AZIMUTH', title: 'AZIMUTH', width: 135, sort: true}
                    ,{field: 'HEIGHT', title: 'HEIGHT', width: 135, sort: true}
                    ,{field: 'ELECTTILT', title: 'ELECTTILT', width: 135, sort: true}
                    ,{field: 'MECHTILT', title: 'MECHTILT', width: 135, sort: true}
                    ,{field: 'TOTLETILT', title: 'TOTLETILT', width: 135, sort: true}
                ]]
            });
        });

        form.on('submit(cellRefresh)',function () {
            table.render({
                elem: '#Celltable'
                ,height: 312
                ,url: '/celldata' //数据接口
                ,page: true //开启分页
                ,cols: [[ //表头
                    {field: 'CITY', title: 'ID', width:80, sort: true, fixed: 'left'}
                    ,{field: 'SECTORID', title: 'SECTORID', width:80}
                    ,{field: 'SECTORNAME', title: 'SECTORNAME', width:80, sort: true}
                    ,{field: 'ENODEBID', title: 'ENODEBID', width:80}
                    ,{field: 'ENODEBNAME', title: 'ENODEBNAME', width: 177}
                    ,{field: 'EARFCN', title: 'EARFCN', width: 80, sort: true}
                    ,{field: 'PCI', title: 'PCI', width: 80, sort: true}
                    ,{field: 'PSS', title: 'PSS', width: 80}
                    ,{field: 'SSS', title: 'SSS', width: 135, sort: true}
                    ,{field: 'TAC', title: 'TAC', width: 135, sort: true}
                    ,{field: 'VENDOR', title: 'VENDOR', width: 135, sort: true}
                    ,{field: 'LONGITUDE', title: 'LONGITUDE', width: 135, sort: true}
                    ,{field: 'LATITUDE', title: 'LATITUDE', width: 135, sort: true}
                    ,{field: 'STYLE', title: 'STYLE', width: 135, sort: true}
                    ,{field: 'AZIMUTH', title: 'AZIMUTH', width: 135, sort: true}
                    ,{field: 'HEIGHT', title: 'HEIGHT', width: 135, sort: true}
                    ,{field: 'ELECTTILT', title: 'ELECTTILT', width: 135, sort: true}
                    ,{field: 'MECHTILT', title: 'MECHTILT', width: 135, sort: true}
                    ,{field: 'TOTLETILT', title: 'TOTLETILT', width: 135, sort: true}
                ]]
            });
        })

        //监听KPI提交
        form.on('submit(KPIDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            $.ajax({
                url: "/kpinewdata",
                data: JSON.stringify(data.field),
                type: "POST",
                contentType: "application/JSON;charset-utf8",
                success: function (response) {
                    console.log(response);
                    // 基于准备好的dom，初始化echarts实例
                    var myChart = echarts.init(document.getElementById('main'));

                    var xdata = [];
                    for(var i = 0;i < 100;i++){
                        xdata.push(i+1);
                    }

                    // 指定图表的配置项和数据
                    var option = {
                        title: {
                            text: ''
                        },
                        tooltip: {},
                        legend: {
                            data:['结果']
                        },
                        xAxis: {
                            data: xdata
                        },
                        yAxis: {},
                        series: [{
                            type: 'bar',
                            data: response
                        }]
                    };

                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                }

            });

            return false;
        });
    });
</script>
<!-- 监听KPI的button -->
<!-- 图表 -->
<script src="/echarts.min.js"></script>
<!-- KPI的日历插件 -->
<script>
    layui.use('laydate', function(){
        var laydate1 = layui.laydate;
        var laydate2 = layui.laydate;

        //执行一个laydate实例
        laydate1.render({
            elem: '#KPIbegintime' //指定元素
        });

        laydate2.render({
            elem:'#KPIendtime'
        })
    });
</script>


<!-- 监听PRB的button-->
<!-- PRB的图表-->
<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;



        //监听提交
        form.on('submit(PRBDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            $.ajax({
                url: "/prbnewdata",
                data: JSON.stringify(data.field),
                type: "POST",
                contentType: "application/JSON;charset-utf8",
                success:function (response) {
                    console.log(response);

                    var barData1 = [];
                    var barData2 = [];

                    for (var i=0;i<response.length;i++){
                        console.log(response[i]);
                        console.log(response[i].x)
                        console.log(response[i].starttime)

                        barData1.push(response[i].x);
                        barData2.push(response[i].starttime);
                    }

                    for (var i=0;i<barData1.length;i++){
                        console.log(barData1[i]);
                        console.log(barData2[i]);
                    }

                    // 基于准备好的dom，初始化echarts实例
                    var myChart = echarts.init(document.getElementById('main2'));

                    // 指定图表的配置项和数据
                    var option = {
                        title: {
                            text: "毫瓦分贝"
                        },
                        tooltip: {},
                        legend: {
                            data: ['xiaoliang']
                        },
                        xAxis: {
                            data: barData2
                        },
                        yAxis: {},
                        series: [{
                            type: 'bar',
                            data: barData1
                        }]
                    };

                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                }
            });





            return false;
        });

    });

</script>
<!-- PRB的日历插件 -->
<script>
    layui.use('laydate', function(){
        var laydate1 = layui.laydate;
        var laydate2 = layui.laydate;

        //执行一个laydate实例
        laydate1.render({
            elem: '#PRBbegintime', //指定元素
            type: 'datetime'
        });

        laydate2.render({
            elem:'#PRBendtime',
            type: 'datetime'
        })
    });
</script>




</body>
</html>